body{
    background-color: #282D35;
}
.nav{
  display: flex;
  align-items: centre;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
  /* align-items: sets the aspect ratio of the img */
  }
  .ReactLogoImg{
      width: 60px;
      height: 60px;
      margin-right: 7px;
  }
  .nav >h3{
    margin-right:auto ;
    color: #61dafb ;
    font-weight: 700;
    font-size: 22px;
  }
  .nav > h5{
    margin-left:56 ;
    color: #61dafb ;
    font-weight: 600;
  }
  /* .nav >h3, .nav > h5{
    margin: 0;
  } */
main{
   padding: 57px 27px;  
   color: white;
   background-image: url("logo192.png");

   background-repeat: no-repeat;
   background-position-x: right ;
   /* background-size: contain; */
   background-position-y: 45% ;
}
.main--title{
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}
.main--facts{
    margin-top: 46px;
    max-width: 400px;
}
.main--facts > li{
    line-height: 19px;
    padding-block: 10px;
}
.main--facts >li::marker{
    font-size: 1.4rem;
    color:  #61dafb;
}